body {
  width: 100%;
  margin: 0 auto;
  background-color: pink;
}

.greeting {
  text-align: center;
}

.greeting h1 {
  margin: 20px 0 15px 0;
}

.greeting p {
  font-size: 15px;
  padding: 5px 0;
}

.index {
  text-align: center;
}

.index h1 {
  margin: 50px 0 15px 0;
}

.index p {
  font-size: 15px;
  padding: 5px 0 50px 0;
}

#kirby {
  text-align: center;
}

h1 {
  width: 100%;
}

.content {
  display: inline-block;
}

.picture {
  float: left;
  padding: 10px 10px;
  width: 50%;
  max-width: 500px;
}

.explain {
  float: left;
  display: block;
  text-align: left;
  width: 50%;
  max-width: 500px;
  font-size: 15px;
  padding: 10px 10px;
}

.explainTwo {
  display: inline-block;
  text-align: left;
  width: 100%;
  max-width: 1000px;
  font-size: 15px;
  padding: 10px 50px;
}

span {
  color: pink;
}

#hobby {
  text-align: center;
}

#retire {
  text-align: center;
}

#chara {
  text-align: center;
}

.explain h2 {
  text-align: center;
}

.name {
  text-align: center;
}

.calendar {
  text-align: center;
}

#result {
  width: 100%;
}
